<div class="homeBtn">
    <form method="GET" action="/">
        <button type="submit" name="Get">Home</button>
    </form>
</div>


<div class="loginBtn">
    <form method="GET" action="/auth/login">
        <button type="submit" name="Get">Login</button>
    </form>
</div>

<div class="logoutBtn">
    <form method="GET" action="/auth/logout">
        <button type="submit" name="Get">Logout</button>
    </form>
</div>

